a, a:active, a:visited {
color:#1d94c3;	
}
a:hover{
color:#1d94c3;	
}


.ribbon {
	background:url(../../img/grad-blue.gif) repeat-x center top #166890;
	border:1px solid #11506F;
	color:#FFFFFF;
	text-shadow:0 -1px 0 #11506F;
}
.triangle-ribbon {
border-color:transparent #0e425c transparent transparent;
}



.sidebar-nav li.current {
background:url(../../img/grad-blue.gif) repeat-x center top #166890;
border:1px solid #11506F;
}
