body {
	color:#f2f2f2;
	background: #1a1a1a url(../../img/bg-dark.jpg) repeat-x top;
}
h1#logo {
	background:url(../../img/logo.png) no-repeat scroll 0 0 transparent;
}
nav a, nav a:visited {
	color:#f2f2f2;
	text-shadow:0 1px 0 #000000;
}
nav a:hover  {
	color:#d9d9d9;
}
#nav ul a {
text-shadow:0 1px 0 #FFFFFF;	
}

footer {
	color:#f2f2f2;
}
footer li a, footer li a:visited  {
color:#f2f2f2;
}
footer li a:hover {
	color:#d9d9d9;
}